h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: aqua;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: lightgrey;
}
.navbar li{
    float: left;
}
body{
    background-color: aliceblue;
}